<h1>Activez votre compte</h1>
<p>Bonjour {{user.prenom}}, </p>
<p>Votre inscription sur le site LocaMatos est à valider en cliquant sur le lien ci-dessous : </p>

<p><a href="{{ absolute_url(path('app_verify_account', {token: token}))}}">{{ absolute_url(path('app_verify_account', {token: token}))}}</a></p>
<p>Ce lien expirera dans 3 heures</p>